{% extends "labs/generic_lab.html" %}


{% block title %}
Cross Site Scripting Lab 1
{% endblock %}

{% block header %}
    <h1>Cross Site Scripting: Lab 1</h1>
{% endblock %}

{% block content %}
<body onLoad="window.open('http://localhost:4000/#/', '_blank');">


<div class="alert alert-warning alert-dismissible" role="alert">
<span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
Please open developer tools in the Juice Shop window.
</div>

<div id="top-edit-block">Packet Editor</div>
<div id="edit-block" contenteditable="true">
    <br>
    <p id="packet"></p>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on("connect", function() {
            socket.on('received packet', function(data) {
                // Build HTTP Packet for Printing
                dataStr = "{ Method: " + data["Method"] + ", ";
                dataStr += "Host: " + data["Host"] + ", ";
                dataStr += "Path: " + data["Path"] + ", ";
                dataStr += "\"HTTP version\": " + data["HTTP version"] + ", ";
                dataStr += "Headers: " + data["Headers"] + ", ";
                dataStr += "\"Query String\": \"" + data["Query String"] + "\", ";
                dataStr += "Body: \"" + data["Body"] + "\" }";

                document.getElementById("packet").innerHTML = dataStr;
                console.log("Data: ", data);
            });
        });
    </script>
</div>

<br>

<div id="top-edit-block">Cookie Editor</div>
<div id="edit-block" contenteditable="true">
    <br>
    {{ cookies }}
</div>

</body>
{% endblock %}