{% extends "layout.html" %}
{% block title %}
Index
{% endblock %}

{% block head %}
<div id="big-head">
    <h1>WebSec Education</h1>
    <p>Senior Project 2021</p>
</div>
{% endblock %}

{% block content %}
<div id="container">
    <div id="skill-button-group">
        <a href="{{ url_for('views.xss_lesson1') }}"><button class="skill-button">Cross Site Scripting</button></a>
        <button class="skill-button">SQL Injection</button>
        <button class="skill-button">LDAP Injection</button>
        <p></p>
        <button class="skill-button">XML External Entity Injection</button>
        <button class="skill-button">Sensitive Data Exposure</button>
        <button class="skill-button">Broken Authentication & Session Management</button>
    </div>
</div>
{% endblock %}
