body {
    background-color: #CFBBDB;
    font-family: Montserrat;
    color: #757289;
}

/* Layout */
#dark-block {
    background-color: #757289;
    padding: 5%;
    text-align: center;
    color: #E5E5E5;
}
#normal-block {
    color: #757289;
    padding-left: 17%;
    padding-right: 17%;
}
.lab-button {
    color: #E5E5E5;
    background-color:#757289;
    padding: 2%;
    font-family: inherit;
    display:inline-block;
    height: 10%;
    width: 10%;
    font-size: medium;
    border:none;
    cursor:pointer;
    position: absolute;
    right: 17%;
}

/* General */

#container {
    width: 100%;
    height: 100%;
    position: fixed;
}
#top {
    background-color: #CFBBDB;
    padding: 10px;
    text-align: center;
}
#head {
    background-color: #757289;
    padding: 5%;
    text-align: center;
    color: #E5E5E5;
}
#skill-button-group {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.skill-button {
    height: 25%;
    width: 25%;
    border:none;
    font-family: inherit;
    display:inline-block;
    vertical-align:middle;
    color: #E5E5E5;
    background-color:#757289;
    cursor:pointer;
    margin-left: 2%;
    margin-right: 2%;
    font-size: large;
}
